body {
  background-color: coral;
  background-image: url('Images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

header {
  padding: 0%;
  background-color: #de6f20;
  border-bottom: 4px solid #5c1d0c;
  border-radius: 15px;
}

.flexcontainer {
  display: flex;
  flex-wrap: nowrap;
}

.flexcontainer > div {
  width: 300px;
  margin-left: 35px;
  margin-top: 20px;
  margin-right: 35px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 2.5vw;
  font-family: 'Overlock';

}

.flexcontainer > div a {
  color: #282102;
}


.h a:link{
  text-decoration: underline;
}

.a a:link {
  text-decoration: none;
}

.a a:hover {
  text-decoration: underline;
}


.logo {
  display: block;
  width: 130px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
}

.members {
  font-size:2vw;
  font-family: 'Overlock';
  text-align: center;
  color: #532f17;
}

.muhammad {
  font-size:3vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 14vw;
}

.muhammad a{
  color: #532f17;
  text-decoration: none;
}

.muhammad a:hover{
  color: #de6f20;
}

.pic {
  width: 300px;
  height: 400px;
  float: right;
  display: inline;
  margin-right: 10vw;
}  

.aiza {
  font-size:3vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 14vw;
}

.aiza a{
  color: #532f17;
  text-decoration: none;
}

.aiza a:hover{
  color: #de6f20;
}

.ali {
  font-size:3vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 14vw;
}

.ali a{
  color: #532f17;
  text-decoration: none;
}

.ali a:hover{
  color: #de6f20;
}

.muzzi {
  font-size:3vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 14vw;
}

.muzzi a{
  color: #532f17;
  text-decoration: none;
}

.muzzi a:hover{
  color: #de6f20;
}

.tayyiba {
  font-size:3vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 14vw;
}

.tayyiba a{
  color: #532f17;
  text-decoration: none;
}

.tayyiba a:hover{
  color: #de6f20;
}

footer {
  padding: 0.1%;
  background-color: #de6f20;
  border-bottom: 4px solid #5c1d0c;
  border-radius: 10px;
}

.foot {
  margin-left: 35vw;
  margin-top: 20px;
}

.facebook {
  display: inline;
}

.facebook a {
  color: black;
}

.twitter {
  display: inline;
  margin-left: 14vw;
}

.twitter a {
  color: black;
}

.copyright {
  margin-left: 70vw;
  margin-top: 5vw;
  font-size: 2vw;
  font-family: 'Overlock';
}

.contact {
  font-size:5vw;
  font-family: 'Overlock';
  color: #532f17;
  margin-left: 37vw;
}

.contact-right form{
    width: 90%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 5vw;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form button{
    margin: 15px 5vw;
}
